.order_title
	%h4= @order.display_id

- @order.order_items.each do |order_item|
	.magazine
		.magazine_title
			%h4= order_item.magazine.display_title
		.magazine_cover
			= image_tag order_item.magazine.cover
		.magazine_description
			%p= order_item.magazine.description.truncate(100)
		.order_item_summary
			%p= "Cena pojedynczego egzemplarza: " + order_item.magazine.display_price
			%p= "Ilość sztuk: #{order_item.amount}"
			%p= "Cała cena: " + order_item.display_price
	=render "statuses", order: @order