.order_title
	%h4= @order.display_id
	.address
		%h3= @order.address.designation
		%p= @order.address.name
		%p= @order.address.street
		%p= @order.address.postal_code
		%p= @order.address.town
		%p= @order.address.province
		%p= @order.address.country
		%p= @order.address.other
		= simple_form_for @order do |f|
			= f.input :address_id, collection: current_user.addresses.map {|address| [address.designation, address.id]}, label: false
			= f.submit "Zmień adres"

- @order.order_items.each do |order_item|
	.magazine
		.magazine_title
			%h4= order_item.magazine.display_title
		.magazine_cover
			= image_tag order_item.magazine.cover
		.magazine_description
			%p= order_item.magazine.description.truncate(100)
		.order_item_summary
			%p= "Cena pojedynczego egzemplarza: " + order_item.magazine.display_price
			%p= "Ilość sztuk: #{order_item.amount}"
			%p= "Cała cena: " + order_item.display_price
	=render "statuses", order: @order