= "Koszyk"
- if @cart.order_items_without_order.count > 0
	= simple_form_for @order do |f|
		= f.input :address_id, collection: current_user.addresses.map {|address| [address.designation, address.id]}
		= f.simple_fields_for :order_items do |ff|
			.magazine
				.magazine_title
					%h4= ff.object.magazine.display_title
				.magazine_cover
					= image_tag ff.object.magazine.cover
				.magazine_description
					%p= ff.object.magazine.description.truncate(100)
				.order_item_summary
					%p= "Cena pojedynczego egzemplarza: " + ff.object.magazine.display_price
					%p= "Ilość sztuk: #{ff.object.amount}"
					%p= "Cała cena: " + ff.object.display_price	
			.carts_link
				= ff.input :to_order, label: "Dodaj do zamówienia", as: :boolean
					
		= f.submit			
- else 
	%p= "Twój koszyk jest pusty"				