= simple_form_for @address do |f|
	= f.input :designation, placeholder: "Opis adresu (np. 'Dom', 'Praca')"
	= f.input :name, placeholder: "Imię i nazwisko adresata"
	= f.input :street, placeholder: "Ulica i numer lokalu"
	= f.input :postal_code, placeholder: "Kod pocztowy"
	= f.input :town, placeholder: "Miejscowość"
	= f.input :province, placeholder: "Województwo"
	= f.input :country, placeholder: "Kraj", as: :string
	= f.input :other, placeholder: "Dodatkowe informacje"
	= f.submit