= simple_form_for @address do |f|
	= f.input :name, placeholder: "Imię i nazwisko adresata"
	= f.input :street, placeholder: "Ulica i numer lokalu"
	= f.input :postal_code, placeholder: "Kod pocztowy"
	= f.input :town, placeholder: "Miejscowość"
	= f.input :province, placeholder: "Województwo"
	= f.input :country, placeholder: "Kraj"
	= f.input :other, placeholder: "Dodatkowe informacje"