%legend= "Moje adresy"
= link_to "Nowy adres", new_address_path
- @addresses.each do |address|
	.address
		.address_link
			= link_to "Edytuj", edit_address_path(address)
			= link_to "Usuń", address_path(address), method: :delete
		%h3= address.designation
		%p= address.name
		%p= address.street
		%p= address.postal_code
		%p= address.town
		%p= address.province
		%p= address.country
		%p= address.other
		
	
	